<!DOCTYPE html>
<html>
  <head>
    <!-- We are using a custom helper here to simplify layout. full_title is the name of our customer helper or  in Javascript a function.  -->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
